@import "tailwindcss";

:root {
  --background: #f1e4d9;
  --foreground: #0f0e24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-sans-mono: var(--font-roboto-mono);
  --font-serif: var(--font-libre-baskerville);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0e24;
    --foreground: #f1e4d9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
